section
    height: 300px

    .textCol
        //display: flex
        //flex-direction: column
        height: 300px
        width: 50%
        h2 
            height: 30% 
            margin: 10px 0
            font-size: 2em
            a
                color: inherit
                text-decoration: none
        .articlePreview
            height: 50%
            text-overflow: ellipsis
        .authorCol 
            height: 10%
            display: flex
            align-items: center
            img 
                width: 30px
                height: 30px
                margin-right: 10px
    .imgCol
        width: 50%
        height: 300px
        overflow: hidden
        img 
            width: 100%
