@import index.sass

section
    height: 300px
    .textCol
        display: flex
        flex-direction: column
        height: 300px
        h2 
            height: 30% 
            margin: 10px 0
            font-size: 2em
        .articlePreview
            height: 50%
            text-overflow: ellipsis
        .authorCol 
            height: 10%
            display: flex
            align-items: center
            img 
                width: 30px
                height: 30px
                margin-right: 10px