//General.sass beinhaltet body, header, footer, arrow styles welche für alle Seiten gleich bleiben sollen.
@import _variable
@import ./index

body, html 
    margin: 0
body 
    //background-color: #01345b
    //background-image: linear-gradient(to bottom right, #0462aa, #01345b)
    //background-color: black
    background-image: url("../data/background01.jpg")
    background-size: cover
    background-attachment: fixed
    background-repeat: no-repeat
    font-family: 'Roboto Slab', serif    
    justify-content: center
    align-items: center
    color: white
    height: 100vh

header 
    padding-top: 40px
    display: flex
    justify-content: center
    align-items: centers
    font-size: 20px
    /*.placeholder
        flex-grow: 1*/
    .headerSides
        flex-grow: 1
        flex-basis: 0
        display: flex
        justify-content: center
        align-items: center
        img
            width: 70px
            height: 70px
    nav 
        margin: 0 150px 0 150px
        display: flex
        justify-content: center
        align-items: center 
        flex-grow: 5
        flex-basis: 0
        p 
            text-align: center
            flex-grow: 1
            flex-basis: 0
            a
                color: white
                text-decoration: none

footer
    height: 150px
    padding-bottom: 500px
    width: $contentSize
    margin: auto
    margin-top: 250px
    #socialMedia
        display: flex
        justify-content: center
        align-items: center
    img 
        margin: 0 20px 0 20px
        width: 50px
        filter: invert(100%)
        padding-top: -10px
        transition: width 0.4s
        &:hover
            width: 55px


#selfmadeHR 
    margin: auto
    width: $contentSize
    height: 2px
    background-color: white
    box-shadow: 0.5px 0.5px white
    margin-bottom: 20px