//General.sass beinhaltet body, header, footer, arrow styles welche für alle Seiten gleich bleiben sollen.
@import _variable
@import ./index

body, html 
    margin: 0
body 
    background-color: white
    font-family: 'Segoe UI', serif    
    justify-content: center
    align-items: center
    color: $grey
    height: 100vh
a 
    color: $grey 
    text-decoration: none
header 
    margin: 0 30px
    color: $grey
    padding: 40px 0 0 0 
    display: flex
    justify-content: center
    align-items: centers
    font-size: 1.4em
    .headerSides
        flex-grow: 2
        flex-basis: 0
        display: flex
        justify-content: center
        align-items: center
        img
            width: 70px
            height: 70px
    #login
        font-size: 1em
        text-align: center
        box-sizing: border-box
        p
            flex-grow: 1
            a 
                color: inherit
                text-decoration: none
                font-weight: normal
                transition: font-weight 0.2s
                &:hover
                    font-weight: bold
    nav 
        margin: 0 150px 0 150px
        padding: 5px 20px
        display: flex
        justify-content: center
        align-items: center 
        width: 61%
        box-sizing: content-box
        button 
            font-weight: normal
            transition: font-weight 0.2s
            span 
                font-size: 1.4em
            i 
                margin-top: 5px
            &:hover
                font-weight: bold
        div 
            text-align: center
            flex-grow: 1
            flex-basis: 0
            a
                color: inherit
                text-decoration: none
                font-weight: normal
                transition: font-weight 0.2s
                &:hover
                    font-weight: bold
.banner 
    display: flex
    align-items: center
    justify-content: center
    background-image: url(../data/background.jpg)
    background-attachment: fixed
    background-size: cover
    margin: 25px 0
    height: 60vh
    width: 100%
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
    h1
        text-align: center
        font-size: 50px
        letter-spacing: 8px
        color: white
        a 
            color: white
main
    width: $contentSize
    margin: auto
    padding: 10px 20px
    section
        display: flex
        align-items: center
        justify-content: center
        margin: 40px 0
        .imgCol
            //flex: 50%
            //box-shadow: 0 0 300px 1px black
            //img
            //    box-shadow: $lightShadow
            //    width: 100%
            //    box-sizing: border-box
                //padding: 0px 50px 0 50px
        .textCol
            padding-left: 50px
            flex: 50%
            h2 
                font-size: 30px
                letter-spacing: 7px
        .left
            text-align: right 
            padding-right: 50px


footer
    height: 150px
    width: $contentSize
    margin: auto
    margin-top: 100px
    box-sizing: content-box
    #socialMedia
        display: flex
        justify-content: center
        align-items: center
    img 
        margin: 0 20px 0 20px
        width: 50px
        padding-top: -10px
        filter: invert(40%)
        transition: filter 0.3s
        &:hover
            filter: invert(0)
#selfmadeHR 
    margin: auto
    width: 100%
    height: 2px
    background-color: white
    margin-bottom: 20px
    box-shadow: 1px 1px 1px 0px rgba(112,112,112,1)

.dropdown 
  float: left
  overflow: hidden


.dropdown .dropbtn 
  font-size: 16px  
  border: none
  outline: none
  color: $grey
  padding: 14px 16px
  background-color: inherit
  font-family: inherit
  margin: 0


.dropdown-content 
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

.dropdown-content a 
  float: none
  color: $grey
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: left

.dropdown-content a:hover 
  background-color: #ddd

.dropdown:hover .dropdown-content 
  display: block
