@import _variable

.stats
    width: 80%
    margin: 25px auto
    h1 
        color: $grey
        font-size: 1.2em
        margin: 5px 0
    .bar
        width: 100%
        background-color: $greyedOut
        height: $statsHeight
        border-radius: 6px 5px 5px 6px
        .filled
            border-radius: 5px 0px 0px 5px
            background-color: $siennaDark
            width: 0
            height: inherit
            margin: 0
