html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: white;
  letter-spacing: 8px;
}

main {
  width: 61.25%;
  background-color: white;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #707070;
  box-shadow: 0px 0px 5px 0px rgba(7, 7, 7, 0.2);
}
main h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 8px;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
main section .imgCol {
  flex: 50%;
}
main section .imgCol img {
  box-shadow: 0px 0px 5px 0px rgba(7, 7, 7, 0.2);
  width: 100%;
  box-sizing: border-box;
}
main section .textCol {
  padding-left: 50px;
  flex: 50%;
}
main section .textCol h2 {
  font-size: 30px;
  letter-spacing: 7px;
}
main section .left {
  text-align: right;
  padding-right: 50px;
}

body, html {
  margin: 0;
}

body {
  background-color: #A3B2A3;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Segoe UI", serif;
  justify-content: center;
  align-items: center;
  color: #707070;
  height: 100vh;
}

a {
  color: #707070;
  text-decoration: none;
}

header {
  color: #707070;
  padding: 40px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: centers;
  font-size: 1em;
  /*.placeholder
  *  flex-grow: 1*/
}
header .headerSides {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerSides img {
  width: 70px;
  height: 70px;
}
header #login, header nav {
  box-shadow: 0px 0px 5px 0px rgba(7, 7, 7, 0.2);
}
header #login {
  background-color: white;
  border: 1px solid #707070;
  font-size: 0.8em;
  text-align: center;
}
header #login p {
  flex-grow: 1;
}
header nav {
  background-color: white;
  border: 1px solid #707070;
  margin: 0 150px 0 150px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61.25%;
  box-sizing: content-box;
}
header nav div {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
}
header nav div a {
  color: inherit;
  text-decoration: none;
}

footer {
  height: 150px;
  padding-bottom: 200px;
  width: 61.25%;
  margin: auto;
  margin-top: 100px;
}
footer #socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin: 0 20px 0 20px;
  width: 50px;
  filter: invert(100%);
  padding-top: -10px;
  transition: width 0.4s;
}
footer img:hover {
  width: 55px;
}

#selfmadeHR {
  margin: auto;
  width: 61.25%;
  height: 2px;
  background-color: white;
  margin-bottom: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #707070;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #707070;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*# sourceMappingURL=general.css.map */
